* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* container styling*/
#container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#answers {
  width: 90%;
  border: 6px solid #dbdbfc;
  margin: 0 auto;
  max-width: 690px;
  padding: 10px;
}
.voteButton {
  width: 350px;
  background-color: #786be4;
  padding: 0.5em 1em;
  margin: 0.2em;
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  font-family: "Mark Pro Medium";
  font-size: 1.2rem;
  letter-spacing: 0.35px;
  opacity: 1;
  transition: background-color 0.4s ease-in, opacity 0.4s ease-in;
  cursor: pointer;
}

/*users answer before reveal*/
.selectedVoteButton {
  width: 350px;
  background-color: #786be4;
  opacity: 1;
  padding: 0.5em 1em;
  margin: 0.2em;
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  font-family: "Mark Pro Medium";
  font-size: 1.2rem;
  letter-spacing: 0.35px;
  transition: background-color 1s ease-in;
  cursor: pointer;
}
/*ignored answers before reveal*/
.unselectedVoteButton {
  width: 350px;
  background-color: #888888;
  opacity: 0.4;
  padding: 0.5em 1em;
  margin: 0.2em;
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  font-family: "Mark Pro Medium";
  font-size: 1.2rem;
  letter-spacing: 0.35px;
  cursor: pointer;
  transition: background-color 0.7s ease-in, opacity 0.7s ease-in;
}

/*users correct answer after reveal*/
.userCorrect {
  width: 350px;
  background-color: #3dd980;
  opacity: 1;
  padding: 0.5em 1em;
  margin: 0.2em;
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  font-family: "Mark Pro Medium";
  font-size: 1.2rem;
  letter-spacing: 0.35px;
  cursor: pointer;
  transition: background-color 0.7s ease-in;
}

/*users incorrect answer after reveal*/
.userIncorrect {
  width: 350px;
  background-color: #888888;
  opacity: 0.4;
  padding: 0.5em 1em;
  margin: 0.2em;
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  font-family: "Mark Pro Medium";
  font-size: 1.2rem;
  letter-spacing: 0.35px;
  cursor: pointer;
  transition: background-color 0.7s ease-in, opacity 0.7s ease-in;
}

/*unselected answer that is correct on reveal*/
.userWrongButAnswerCorrect {
  width: 350px;
  background-color: #3dd980;
  opacity: 1;
  padding: 0.5em 1em;
  margin: 0.2em;
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  font-family: "Mark Pro Medium";
  font-size: 1.2rem;
  letter-spacing: 0.35px;
  cursor: pointer;
  transition: background-color 0.7s ease-in, opacity 0.7s ease-in;
}
