* {
  padding: 0;
  margin: 0;
}

.voteButton {
  width: 350px;
  background-color: #786be4;
  padding: 0.5em 1em;
  margin: 0.2rem;
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  font-family: "Mark Pro Medium";
  font-size: 1.2rem;
  letter-spacing: 0.35px;
  opacity: 1;
  transition: background-color 0.4s ease-in, opacity 0.4s ease-in;
}

.selectedVoteButton {
  width: 350px;
  background-color: #786be4;
  padding: 0.5em 1em;
  margin: 0.2rem;
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  font-family: "Mark Pro Medium";
  font-size: 1.2rem;
  letter-spacing: 0.35px;
  transition: background-color 1s ease-in;
}

.unselectedVoteButton {
  width: 350px;
  background-color: #888888;
  opacity: 0.4;
  padding: 0.5em 1em;
  margin: 0.2rem;
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  font-family: "Mark Pro Medium";
  font-size: 1.2rem;
  letter-spacing: 0.35px;
  transition: background-color 0.4s ease-in, opacity 0.4s ease-in;
}

.correctVoteButton {
  width: 350px;
  background-color: #3dd980;
  padding: 0.5em 1em;
  margin: 0.2rem;
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  font-family: "Mark Pro Medium";
  font-size: 1.2rem;
  letter-spacing: 0.35px;
  transition: background-color 1s ease-in 0.2s, height 1s ease-in 0.2s;
}

.incorrectVoteButton {
  width: 350px;
  background-color: #dbdbfc;
  min-width: 5rem;
  padding: 0.5em 1em;
  margin: 0.2rem;
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  font-family: "Mark Pro Medium";
  font-size: 1.2rem;
  letter-spacing: 0.35px;
  transition: background-color 1s ease-in 0.2s;
}

.resetButton {
  background-color: rgba(235, 28, 36, 0.65);
}

#container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
