* {
  padding: 0;
  margin: 0;
}

.tutor__button {
  background-color: #786be4;
  padding: 0.5rem 1rem;
  margin: 0rem;
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  font-family: "Mark Pro Medium";
  border: none;
  width: 350px;
}


.delete__button {
  display: flex;
  justify-content: center;
  align-items:  center;
}

/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  height: 15px;
  width: 15px;
  background-color: #eee;
  border-radius: 3px;
  padding:3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #786be4;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  /* left: 4.5px; */
  /* top: 1.5px; */
  margin-bottom: 3px;
  width: 3.5px;
  height: 7px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


/* session box styling*/
.session__box {
  background-color: #ffffff;
  padding: 1rem;
  margin: 2rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.input {
  padding: 0.5rem 1rem;
  margin: 0rem 1rem;
}

.input:focus {
  color: black
}

.ses__button {
  margin-left: 1rem;
}

.ses__err__true {
  background-color: red;
}

.highlight__text {
  color: #786be4;
  font-weight: 600;
}

.content__box {
  background-color: #ffffff;
  padding: 3rem;
  margin: 2rem;
}

/* poll editor styling*/

.heading {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.poll__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 900px;
  margin: 0 auto;
}

.input__line {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem;
  grid-template-columns: 10rem 25rem 2rem 2rem;
  align-items: center;
  border-bottom: 1px solid rgb(218, 223, 218);
  /* outline: 2px solid red; */
}

.question {
  margin-bottom: 2rem;
  /* outline: 2px solid purple; */
  width: 90%;
  display:flex;
  justify-content: flex-start;
}
.question__input {
  width: 100%;
}
